<div style="background-color: #3761ba;">
  <div class="container">
    <div class="row justify-content-md-center">

      <div class="col-md-12" style="margin-bottom: 20px;"></div>

      <div class="col-md-1"></div>

      <div class="col-md-3">
        <div class="form-group">
          <select class="form-control" [(ngModel)]="sortValue" [disabled]="disableIfNoResult" (ngModelChange)="onChangeSelect(sortValue)" >
            <option value="nameAsc">Name (A - Z)
            </option>
            <option value="nameDesc">Name (Z - A)
            </option>
            <option value="rankAsc">Rank ↑
            </option>
            <option value="rankDesc">Rank ↓
            </option>
          </select>
        </div>
      </div>


      <div class="col-md-6">
        <div class="input-group col-md-10">
          <input class="form-control py-2" type="search" value="search" id="example-search-input"
                 [(ngModel)]="searchUserName" (keyup.enter)="onSearchUserName(searchUserName,sortValue)">
          <span class="input-group-append">
        <button class="btn btn-light" type="button" (click)="onSearchUserName(searchUserName,sortValue)">
            <i class="fa fa-search" aria-hidden="true"></i>
        </button>
      </span>
        </div>
      </div>


    </div>
  </div>
</div>
