<div class="container-fluid">
  <div class="container">
    <div class="row justify-content-md-center" style="padding: 20px;">

      <div class="alert alert-warning" *ngIf="resultStatus">
        <strong>No Result Found!</strong> your recent search received no hits.
      </div>

      <!--block-->
      <div class="col-8">
        <p *ngIf="resultFound.length > 0">Total Results: {{totalCount}}</p>
      </div>


      <div class="col-8" *ngFor="let item of resultFound | paginate: { itemsPerPage: 5, currentPage: p }; let i=index">
        <div class="card" style="padding: 20px;margin: 2px;">
          <div class="card-block">
            <div class="row">
              <div class="col-md-3">
                <img src="{{item.avatar_url}}" alt="image not found" class="img-fluid rounded-circle">
              </div>
              <div class="col-md-6">
                <h4>{{item.login}}</h4>
                <p>git url</p>
                <br>
                <p>{{item.score}}</p>
                <p>adfadf</p>
              </div>
              <div class="col-md-3">
                <button class="btn btn-outline-primary btn-block" style="margin-top: 140px;"
                        (click)="showUserDetail(i,item.login,$event)">Details
                </button>
              </div>
            </div>

            <app-user-repo *ngIf="i == showDetail" [resultRepo]="resultRepo"></app-user-repo>

          </div>
        </div>
      </div>

      <!--block-end-->
      <div class="col-8 text-right" *ngIf="resultFound.length > 0">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>

    </div>
  </div>
</div>

<div *ngIf="showLoadingImage" class="loader">

</div>

