<div class="container-fluid">
  <div class="container">
    <div class="row justify-content-md-center row-padding">

      <div class="alert alert-warning" *ngIf="resultStatus">
        <strong>No Result Found!</strong> your recent search received no hits.
      </div>

      <!--block-->
      <div class="col-8">
        <p *ngIf="resultFound.length > 0"><b>Total Results: {{totalCount}}</b></p>
      </div>

      <div class="col-8" *ngFor="let item of resultFound | paginate: { itemsPerPage: 10, currentPage: p, totalItems: totalCount }; let i=index">
        <div class="card padding-and-margin">
          <div class="card-block">
            <div class="row">
              <div class="col-md-2">
                <img src="{{item.avatar_url}}" alt="image not found" class="img-fluid rounded-circle">
              </div>
              <div class="col-md-7">
                <h4>{{item.login}}</h4>
                <p>
                  <span class="thick">Profile </span>
                  <a href="{{item.url}}" target="_blank">{{item.url}}</a>
                </p>

                <br>
                <p><span class="thick">Type </span>{{item.type}}</p>
                <p><span class="thick">Score </span>{{item.score}}</p>
              </div>
              <div class="col-md-3">
                <button class="btn btn-outline-primary btn-block margin-top-140"
                        (click)="showUserDetail(i,item.login,$event)">{{ buttonText[i]?buttonText[i]:'Details' }}
                </button>
              </div>
            </div>

            <app-user-repo *ngIf="i == showDetail" [resultRepo]="resultRepo"></app-user-repo>

          </div>
        </div>
      </div>

      <!--block-end-->
      <div class="col-8 text-right margin-top-14" *ngIf="resultFound.length > 0">
        <pagination-controls (pageChange)=onPageChange($event)></pagination-controls>
      </div>

    </div>
  </div>
</div>

<div *ngIf="showLoadingImage" class="loader">

</div>

