
  <div class="col-12">
    <hr>
    <div class="row" *ngFor="let itemRepo of resultRepo;let i=index"
         [ngClass]="{'repo-detail-white': i%2 == 0, 'repo-detail-grey':i%2 != 0 }">
      <div class="col-3">{{(itemRepo.name.length>12)? (itemRepo.name | slice:0:12)+'..':(itemRepo.name)}}</div>
      <div class="col-3">{{itemRepo.language}}</div>
      <div class="col-3"><i class="fa fa-star"></i> {{itemRepo.stargazers_count}}</div>
      <div class="col-3"><i class="fa fa-binoculars"></i> {{itemRepo.watchers_count}}</div>
    </div>
  </div>


